.row {
  width: 280px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#content{

}

#calculator-body {
  background-color: #F5F5F5;
  padding: 10px;
  margin-top: 100px;
  width: 295px;
  border: outset .25em;
  border-radius: 1em;
}

#display {
  font-family: monospace;
  font-size: 20px;
  text-align: right;
  background-color: #F0FFF0;
  border: inset grey 2px;
  border-radius: .5em;
  padding: 10px;
  width: 255px;
  margin: 10px 10px 10px;
}

.key {
text-align: center;
margin: 10px 10px 10px;
width: 40px;
background-color: green;
border: groove .25px;
}

.operator {
background-color: pink;
}

#equal {
  width: 110px;
  background-color: #d9ffb3;
  border: groove  2px;
}

#clear {
  width: 105px;
  background-color: #FFFAFA;
  border: groove 2px;
}

#pokadot {
  margin-left: 100px;
}
