.row {
  width: 280px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#content{

}

#calculator-body {
  background-color: grey;
  padding: 13px;
  margin-top: 100px;
  width: 295px;
}

#display {
  text-align: right;
  background-color: white;
  border: solid black 1px;
  padding: 8px;
  width: 255px;
  margin: 1px 10px 10px;
}

.key {
text-align: center;
margin: 10px 10px 10px;
width: 40px;
background-color: green;
}

.operator {
background-color: pink;
}

#equal {
  width: 230px;
  background-color: white;
}
